#type-file{
    background-color: aqua;

}

span{

    background-color: aqua
}

form{
    
    display: flex;
    justify-content: center;

}

form fieldset{
    width: 90%;
    height:auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 254);
}

.btn-submit{
    padding: 10px 20px;
    border: transparent;
    border-radius: 4px;
    background-color: rgb(209, 23, 48);
    color: white;
}

.btn-submit:hover{
    background-color: rgb(212, 28, 47);
    color: rgb(255, 255, 255);
    transition: 0.2s all ease-in ;
    cursor: pointer;
    transform: translateZ(1);
}


legend{
    
font-weight: 900;
}

